@{
    ViewData["Title"] = "Home page";
}

@model IEnumerable<NewsPress.Models.Article>
<div class="container">
    <div style="width:75%; margin:auto">
        @if (Model.Count() > 0)
        {
            int i = 0;
            var OrderedModel = Model.OrderByDescending(Article => Article.WrittenDate);
       
            @foreach (var article in OrderedModel)
            {



                if (article.status == 1)
                {
                    @if(i==1)
                        {
                         <div class="parentleft">
            <div class="dropdown">
                <button class="btn btn-dark" style="margin:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by theme
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form asp-controller="Article" asp-action="ThemeFilter" class="dropdown-item">
                        <div class="form-group">
                            @foreach (var theme in ViewBag.themeList)
                            {

                                <input name="AreChecked" type="checkbox" value="@theme.Id" /> @theme.Name<br />

                            }
                        </div>
                        <button value="ThemeFilter" type="submit" class="btn btn-primary">Filter</button>
                    </form>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-dark" style="margin:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by author
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form asp-controller="Article" asp-action="AuthorFilter" class="dropdown-item">
                        <div class="form-group">
                            @foreach (var author in ViewBag.authorList)
                            {

                                <input name="AreChecked" type="checkbox" value="@author.Id" /> @author.FirstName @author.LastName<br />

                            }
                        </div>
                        <button value="AuthorFilter" type="submit" class="btn btn-primary">Filter</button>
                    </form>
                </div>
            </div>
        </div>
           
            <hr />
                        }
                    <a style="color: inherit; text-decoration: none;" href="/Article/Details/@article.Id">
                        @if (i == 0)
                        {
                            <div style="position: relative;margin:auto; width:100%">
                                <img style="width:100%" src="~/Images/@article.PictureName" />
                                <div class="text-block">
                                    <h1 style="width:100%; font-size:3vw">@article.Title</h1>
                                </div>

                            </div>
                            <hr />
                        }


                        @if (i != 0 && i < 8)
                        {
                            <div class="parentspace">
                                <div class="parentspace">
                                    <div style="margin-right:10px">
                                        <img height="100" width="100" src="~/Images/@article.PictureName" />
                                    </div>


                                    <div>
                                        <h2> @article.Title</h2><p>

                                            @if (@article.Text.Length < 100)
                                            {
                                                @article.Text;
                                            }
                                            else
                                            {
                                                @article.Text.Substring(0, 100);
                                            }
                                            ...
                                        </p>
                                    </div>
                                </div>




                                <div>
                                    <p>@(article.WrittenDate.ToString("dd MMMM")) @article.WrittenDate.ToString("HH:mm")</p>
                                </div>
                            </div>
                            <hr />

                        }
                    </a>

                    i++;
                }


            }
            <div style="text-align:center">
                <a class="btn btn-primary" asp-area="" asp-controller="Article" asp-action="Index">See All</a>
            </div>


        }
    </div>

</div>
